<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>처리예정인 신고</title>
    <style>
        body {
            width:1400px;
            max-width:1400px;
        }
        .main {
            display: flex;
            min-height: 80vh;
        }

        .title {
            color: #FF7A6B;
            padding-left: 35%;
        }
        tr{
            height: 60px;
        }
        input{
            border:none;
            text-align: center;
            height:50px;
        }
        th{
            font-size:20px;
            padding-bottom: 20px;
        }
    </style>
</head>
<body class="mx-auto">
<div th:include="/views/header"></div>
<div class="main w-100 ">
    <div th:include="views/admin/adminSidebar.html"></div>
    <div class="container mt-4 py-2 pb-3 ">
        <form action="/admin/resUser" method="post">
            <table class="table align-middle text-center">
                <thead>
                <tr>
                    <th>유저 일련번호</th>
                    <th>유저 아이디</th>
                    <th>유저 이름</th>
                    <th>유저 전화번호</th>
                    <th>유저 계좌번호</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="res : ${suspectList}" class="text-center">
                    <td><input type="text" th:value="${res.user_num}" name="user_num"></td>
                    <td><input type="text" th:value="${res.user_id}" name="res_uid"></td>
                    <td><input type="text" th:value="${res.user_name}" name="res_uname"></td>
                    <td><input type="text" th:value="${res.user_phone}" name="res_uphone"></td>
                    <td><input type="text" th:value="${account}" name="res_account"></td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-outline-secondary" type="submit">제재회원 등록하기</button>
        </form>
    </div>
</div>
<div th:include="/views/footer"></div>
</body>
</html>