<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>구매내역</title>
    <style>
        section{
            width: 1400px;
            height: 1500px;
            margin: auto;
        }
    </style>
</head>
<body>
<div th:include="/views/header.html"></div>
<section>
<div th:include="/views/sidebar.html"></div>
    <div style="width: 1100px; height: auto; float: right;">


    </div>
</section>
<div th:include="/views/footer"></div>



</body>
</html>